.advantages,
.advantages__sublist {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.advantages__item,
.advantages__attraction,
.advantages__img-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.advantages__item--tablet {
  display: none;
}

.advantages__sublist {
  list-style: none;
  padding: 23px 18px 32px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
}

.advantages__numbered {
  padding: 37px 18px 38px;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  &--ornament {
    padding-top: 70px;
    padding-bottom: 40px;
    background: url("../img/index/intro-decoration.svg") top -2px center no-repeat;
  }

  &--blue {
    padding-bottom: 38px;
    background-color: #81b3d2;
    color: #ffffff;
    max-height: 260px;
  }

  &--gray {
    background-color: #eeeeee;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: solid 1px #d6d6d6;
  }
}

.advantages__numbered-header {
  .header;
  text-align: center;
}

.advantages__numbered-description {
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.advantages__mobile::after {
  content: "\A";
}

.advantages__mobile::after {
  white-space: pre;
}

.advantages__img-wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.advantages__img-wrapper picture {
  display: flex;
}

.advantages__img {
  width: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0 auto;
  align-self: center;
  flex-grow: 1;
}

.advantages__attraction-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-left: 47px;
  flex-grow: 1;

  &--accomodation {
    background: url("../img/index/house.svg") left top 0/40px 35px no-repeat;
  }

  &--food {
    background: url("../img/index/burger.svg") left top 0/40px 35px no-repeat;
  }

  &--souvenirs {
    background: url("../img/index/gift.svg") left 2px top 0/33px 35px no-repeat;
  }
}

.advantages__attraction {
  padding-top: 5px;
}

.advantages__attraction:not(:last-child) {
  margin-bottom: 12px;
}

.advantages__attractions-header {
  .header;
  margin-top: 5px;
}

.advantages__attractions-description {
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .advantages__item {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

    &--mobile {
      display: none;
    }
  }

  .advantages__numbered {
    box-sizing: border-box;
    padding: 50px 33px 30px;
    flex-grow: 1;

    &--gray {
      background-color: #eeeeee;
      box-shadow: none;
      border: none;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &--blue {
      flex-grow: 1;
      overflow: auto;
    }

    &--ornament {
      padding-top: 50px;
      background: #81b3d2;
    }
  }

  .advantages__numbered-header {
    padding-top: 0;
    font-size: 21px;
    margin: 0 auto;
    width: 170px;
    text-align: center;
  }

  .advantages__numbered-description {
    margin-top: 10px;
  }

  .advantages__attractions-header {
    text-align: center;
    font-size: 21px;
    margin-bottom: 8px;
  }

  .advantages__attractions-description {
    text-align: center;
  }

  .advantages__sublist {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
  }

  .advantages__attraction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    padding: 55px 35px 45px;
    flex-grow: 1;
    margin-bottom: 0;
    max-width: 400px;
  }

  .advantages__attraction:not(:last-child) {
    margin-bottom: 0;
  }

  .advantages__attraction-text {
    padding-top: 95px;
    padding-left: 0;

    &--accomodation {
      background: url("../img/index/house.svg") center top 0/77px 70px no-repeat;
    }

    &--food {
      background: url("../img/index/burger.svg") center top 0/80px 70px no-repeat;
    }

    &--souvenirs {
      background: url("../img/index/gift.svg") center top 0/66px 75px no-repeat;
    }
  }

  .advantages__mobile::after {
    content: "";
  }

  .advantages__tablet::after {
    content: "\A";
    white-space: pre;
  }
}

@media (min-width: @desktop-width) {
  .advantages__numbered {
    padding: 52px 50px;

    &--gray {
      padding-bottom: 45px;
      padding-top: 57px;
    }
  }

  .advantages__attraction {
    padding: 55px 35px 55px 47px;
  }

  .advantages__attraction-text {
    padding-top: 105px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;

    &--accomodation {
      background: url("../img/index/house.svg") center top 10px/78px 70px no-repeat;
    }

    &--food {
      background: url("../img/index/burger.svg") center top 10px/75px 70px no-repeat;
    }

    &--souvenirs {
      background: url("../img/index/gift.svg") center top 10px/75px 75px no-repeat;
    }
  }

  .advantages__tablet::after {
    content: "";
  }

  .advantages__desktop::after {
    content: "\A";
    white-space: pre;
  }
}
