.form__column-one,
.form__column-two,
.form__impressions,
.form__attractions,
.form__feedback {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
  border: none;
}

.form__feedback {
  margin-bottom: 56px;
}

.form__submit {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 16px 49px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  width: 89%;
  margin-bottom: 3px;
  cursor: pointer;
}

.form__note {
  align-self: flex-end;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  padding-right: 18px;
}
