.hero {
  width: 100%;
  padding: 90px 0 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  background: url("../img/index/ornament.svg") bottom center no-repeat,
    url("../img/index/index-background.jpg") top center/cover no-repeat;

  &--nojs {
    margin-top: 220px;
  }
}

.hero--small {
  width: 100%;
  padding: 52px 0 67px;
  background: url("../img/index/ornament.svg") bottom center no-repeat,
    url("../img/index/index-background.jpg") center center;
}

@media (min-width: @tablet-width) {
  .hero {
    padding: 90px 0 90px;

    &--nojs {
      margin-top: 0;
    }
  }

  .hero__img-secondary {
    width: 100%;
    object-fit: cover;
  }
}
