.intro {
  padding: 35px 18px 2px;
  background-color: #ffffff;
}

.intro__header {
  .header;
  text-align: center;
  margin-bottom: 35px;
}

.intro__description {
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .intro {
    padding: 48px 124px 40px;
  }

  .intro__header {
    font-size: 21px;
    margin-bottom: 30px;
  }

  .intro__header br {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    padding: 60px 124px 28px;
  }

  .intro__header br {
    display: inline;
  }
}
