.photos-header {
  background-color: #ffffff;
  margin: 0;
  padding: 15px 18px 22px;
  border-bottom: solid 1px #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photos-header__logo {
  .header;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 10px;
}

.photos-header__text {
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .photos-header {
    padding: 45px 65px 68px;
    border: none;
  }

  .photos-header__logo {
    font-size: 31px;
    margin-bottom: 15px;
  }

  .photos-header__text {
    width: 450px;
  }

  .photos-header__text .tablet::after {
    content: "\A";
    white-space: pre;
  }
}

@media (min-width: @desktop-width) {
  .photos-header {
    padding-top: 77px;
    padding-bottom: 78px;
  }
}
