.text {
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  margin: 0;
  margin-bottom: 56px;
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.text__header {
  .header;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text__textfield {
  padding: 16px;
  resize: none;
  background-color: #f2f2f2;
  border: none;
}

.text__textfield::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0 0 0 0.3);
}

@media (min-width: @tablet-width) {
  .text {
    margin-bottom: 55px;
  }

  .text__header {
    .header-tablet;
    padding: 30px 60px 0;
    margin: 0;
    position: absolute;
    top: -45px;
    background-color: #ffffff;
    color: #000000;
  }

  .text__textfield {
    margin-top: 40px;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .text {
    padding: 0 175px;
  }
}
