.video {
  background-color: #ffffff;
  padding: 20px 18px 0;
}

.video__text {
  padding: 0 20px;
  margin: 0;
  margin-bottom: 38px;
}

.video__text-header {
  .header;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 20px;
}

.video__text-description {
  text-align: center;
  text-transform: uppercase;
}

.video__video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.video__play-icon {
  position: absolute;
}
