.hero {
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../img/index/ornament.svg") bottom center no-repeat,
    url("../img/index/index-background.jpg") top center;
}

.hero--small {
  height: 158px;
  background: url("../img/index/ornament.svg") bottom center no-repeat,
    url("../img/index/index-background.jpg") center center;
}
