.fail {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 11;
}

.fail--closed {
  display: none;
}

.fail__window {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  width: 320px;
  padding: 45px 40px 35px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fail__header {
  .header;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.fail__text {
  text-transform: uppercase;
  text-align: center;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.fail__text-area {
  margin-bottom: 30px;
}

.fail__button {
  box-sizing: border-box;
  padding: 18px 49px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  width: 75%;
  cursor: pointer;
}

.fail-mobile::after {
  content: "\A";
  white-space: pre;
}

@media (min-width: @tablet-width) {
  .fail-mobile::after {
    content: "";
  }

  .fail__window {
    width: 400px;
    padding: 50px;
  }

  .fail__header {
    display: block;
    box-sizing: border-box;
    padding: 0 40px;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -1px;
  }

  .fail__text {
    margin-bottom: 15px;
  }

  .fail__button {
    width: 90%;
    align-self: center;
  }
}
