.likes__button {
  background: none;
  border: none;
  opacity: 0.3;
  padding: 0;
  margin-right: 12px;
  cursor: pointer;
}

.likes__counter {
  font-size: 14px;
  font-weight: 700;
}

@media (min-width: @tablet-width) {
  .likes__button {
    margin-right: 5px;
  }

  .likes__counter {
    display: inline-block;
    padding-bottom: 5px;
  }
}

@media (min-width: @desktop-width) {
  .likes__button {
    opacity: 1;
    color: rgba(255, 255, 255, 1);
  }

  .likes__button:focus-visible {
    outline: solid 3px #e5e5e5;
    outline-offset: 1px;
  }
}
